    <body id="top">

      <!-- ****************************** Preloader ************************** -->
      <div id="preloader"></div>


	  	<!-- ==========================
        HEADER SECTION 
        =========================== -->
        <header id="home">
		    <!-- creative menu -->
            <div class="container-fluid">
              <div class="row">
                <div class="menu-wrap">
				<nav class="menu">
				    <!-- Menu Links -->
					<div class="icon-list">
						<a href="/index"></i><span>Home</span></a>

					</div>
				</nav>
			    </div>
			    <button class="menu-button" id="open-button"></button><!-- menu button -->
              </div><!--/row-->
            </div><!--/container-->
		  <!-- Header Image -->
          <section class="hero" id="hero">
            <div class="container">
			  <!-- Slider Button (don't edit!)-->
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="/home#"><span></span></a>
                </div>
              </div>
			  <!-- HEADER HEADLINE -->
              <div class="row">
                <div class="col-md-8 col-md-offset-1 inner">
                  <h1 class="animated fadeInDown">
                    <span style="color:#680FD6;">LANG</span><br/>
                    <span>WITH<span style="color:#FFD93B"><br>BX DESIGN</span></span>
                  </h1><!-- Title -->
                </div>
              </div>
			  <!-- Learn More Button -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
			            <p class="scrollto--arrow"></p><br>
			        </a>
                </div>
              </div>
            </div>
          </section>
		  <!-- Header Image End -->
        </header>
		<!-- ==========================
        HEADER SECTION END  
        =========================== -->
		
		
		
		
		<!-- ==========================
        ABOUT SECTION  
        =========================== -->
        <section class="intro text-center section-padding color-bg" id="about">
          <div class="container">
		    <!-- WELCOME TEXT -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
				<!-- about / welcome text -->
                <p> <a href="http://www.lang-official.oa.to">LANG APPLICATION</a><p><strong>LANG</strong>은 새롭게 런칭하는 <br>글로벌 언어교환&모임 서비스입니다<br>
                <p>브랜드 아이덴티티를 구축하기 위해 <br>브랜드 방향성을 정의하고,<br><Strong>LANG</Strong>이 전달하고자 하는 <br>핵심 가치와 브랜드 경험을 모든 고객 접점에서 <br>일관되게 경험할 수 있도록 <br>브랜드 경험 디자인을 진행하였습니다. </p>

              </div>
            </div>
          </div>
        </section>




<!-- ==========================
        SERVICE SECTION 
        =========================== -->
    





		
		<!-- ==========================
        ABOUT SECTION END
        =========================== -->	

		
		
		
		<!-- ==========================
        PORTFOLIO SECTION
    =========================== -->
        <section class="swag text-center" id="portfolio">
          <div class="container">
		    <!-- Headline -->
            <div class="row">
              <h1 class="arrow">
              </h1>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="row row-offset-0">
  				 
          <!-- PORTFOLIO ITEM 1 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="assets/portfolio/portfolio-01-large.jpg" data-lightbox="roadtrip" title="브랜드 디자인 키워드"><img class="grayscale" src="assets/portfolio/portfolio-01-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->
  	
  	    <!-- PORTFOLIO ITEM 2 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="assets/portfolio/portfolio-02-large.jpg" data-lightbox="roadtrip" title="브랜드 정의"><img class="grayscale" src="assets/portfolio/portfolio-02-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->
  					
  		<!-- PORTFOLIO ITEM 3 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="assets/portfolio/portfolio-03-large.jpg" data-lightbox="roadtrip" title="브랜드 특징"><img class="grayscale" src="assets/portfolio/portfolio-03-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->
  					
  		<!-- PORTFOLIO ITEM 4 -->
          <div class="col-md-3 col-sm-6 ">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="assets/portfolio/portfolio-04-large.jpg" data-lightbox="roadtrip" title="브랜드 정체성"><img class="grayscale" src="assets/portfolio/portfolio-04-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->
  	             
          <!-- PORTFOLIO ITEM 5 -->

  	    <!-- PORTFOLIO ITEM END -->
        </div><!--/row-->
      </div><!--/.container-->
		<!-- ==========================
        PORTFOLIO SECTION END
        =========================== -->
			


			
		<!-- ==========================
        CUSTOM SPACER

		<!-- ==========================
        CUSTOM SPACER END
        =========================== -->
		
		

    <!-- ==========================
        BLOG SECTION 
        =========================== -->
    <section class="text-center section-padding" id="blog">
          <div class="container">
        <!-- Headline -->
        <div class="row">
              <div class="col-md-12">
              </div>
            </div><br><br>
      
      <!-- Blog Slider -->
            <div class="row">
              <div id="blogSlider">
                <ul class="slides">
                  <li>
            <!-- Blog Entry 1 -->
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog1.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BX CUP</h2><!-- Headline -->
                    </div>
          <!-- Blog Entry 2 -->
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog2.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BX STICKER</h2><!-- Headline -->
                    </div>
          <!-- Blog Entry 3 -->
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog3.jpg"  class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BX BUSINESS CARD</h2><!-- Headline -->
                    </div>
                  </li>
                  <li>
            <!-- Blog Entry 4 -->
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog4.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BX BUSINESS CARD</h2><!-- Headline -->
                    </div>
          <!-- Blog Entry 5 -->
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog5.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BRANDING IDENTITY</h2>
                    </div>
          <!-- Blog Entry 6 -->
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="assets/blog6.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>LANG BX BUSINESS CARD</h2><!-- Headline -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    <!-- ==========================
        BLOG SECTION END
        =========================== -->
    
        
		
		<!-- ==========================
        CLIENT SECTION 
        =========================== -->

		<!-- ==========================
        CLIENTS SECTION END
        =========================== -->
		
		
		
		
		
		<!-- ==========================
        NEWSLETTER SECTION 
        =========================== -->

		<!-- ==========================
        NEWSLETTER SECTION END
        =========================== -->

		
		
		<!-- ==========================
        CONTACT SECTION
        =========================== -->

		<!-- ==========================
        CONTACT SECTION END
        =========================== -->
		
		
		
		<!-- ==========================
        FOOTER SECTION
        =========================== -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>All Rights Reserved. &copy; 2015 <a href="http://www.themewagon.com">ThemeWagon</a>
              </div>
            </div>
          </div>
        </footer>
		<!-- ==========================
        FOOTER SECTION END
        =========================== -->		
		
		
    <!-- jQuery -->

	
    </body>
</html>